.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 20px; /* Add some padding to the container */
}

.logo {
  font-size: 36px;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
  .links {
    font-size: 18px;
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
  .links {
    gap: 10px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  .logo {
    margin-bottom: 10px;
  }
  .links {
    width: 100%;
    justify-content: space-between;
  }
  .link {
    display: none;
  }
}
